@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  background-color: whitesmoke;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 2rem 5rem;
  box-shadow: 3px 4px 8px rgb(226, 225, 225);
}

.navs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(209, 23%, 22%);
  color: white;
  padding: 2rem 5rem;
  box-shadow: 3px 4px 8px rgb(21, 20, 20);
}

.light {
  background-color: whitesmoke;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.theme {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: white;
}

.themes {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: black;
}

.center-load {
  text-align: center;
  font-size: 1rem;
  margin-top: 4rem;
}

button span {
  font-size: 1rem;
}

@media (max-width: 1135px) {
  .nav {
    padding: 2rem 3rem;
  }

  .navs {
    padding: 2rem 3rem;
  }
}

@media (max-width: 690px) {
  .nav {
    padding: 1rem 1rem;
  }

  .navs {
    padding: 1rem;
  }
}

@media (max-width: 533px) {
  .h1 {
    font-size: 1.4rem;
  }
}
